# Mac files
.DS_Store

# demo data
*.json
*.geojson
*.log
*.png
*.gif
*.out
log
*.grib*

# config data
.env
.python-version
config.*
*.pyc

# cache
__pycache__

# libraries
data_processing/mongodb/node_modules/*
